h1 {
    color: purple;
}
.container {
    display:flex;
    justify-content: center;
}
.link {
    padding: 20px;
}
#submit {
    margin-top: 10px;
}
.green {
    background-color: green;
}
form {
    margin: 20px;
}
.red {
    background-color: red;
}
input:invalid {
    border: 1px solid red;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
button {
    margin: 10px;
}
